<h2>Lista de Recetas v0.3</h2>

<input
  type="text"
  placeholder="Buscar receta por título..."
  [(ngModel)]="searchTerm"
  class="buscador"
/>

<div class="categorias">
  <button
    *ngFor="let categoria of categorias"
    (click)="categoriaSeleccionada = categoria"
    [class.activa]="categoria === categoriaSeleccionada"
  >
    {{ categoria }}
  </button>
</div>

<ul>
  <li *ngFor="let receta of recetasFiltradas">
    <a [routerLink]="['/receta', receta.id]">
      <img *ngIf="receta?.img" [src]="'assets/img/' + receta.img" [alt]="receta.title" />
      <strong>{{ receta.category }}</strong>
      {{ receta.title }}
    </a>
  </li>
</ul>
